
@{
    ViewBag.Title = "CheckOut";
}

<h2>Check Out</h2>

<h2>
    Thank you for requesting a book from the RED TEAM BOOK EXCHANGE SYSTEM.  You have three (3) days to pick up your book from: <br /></h2>
   
<h4> 2415 WoodLand Ave<br />
    Cleveland, OH, 44115<br />
</h4>
@Html.ActionLink("Request Another Book", "RequestABook", "Home") |

@Html.ActionLink("Back to List", "Index", "Books")