@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RED TEAM BOOK EXCHANGE SYSTEM</h1>
    <img src="\images\homepagepic.gif" width="600" heigth="150" />
    <p class="lead">RED TEAM BOOK DONATION SYSTEM is a platform for book exchange.You can donate or request a book at this site.</p>
    <p>Events Calendar</p>
</div>

